{% extends 'index.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	
    <meta name="author" content="Codeconvey" />
    
    <!-- Drop Down Menu CSS -->
    <link rel="stylesheet" href="css/style.css">
    
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
	
</head>
<style>



    
  .sidenav {
       
    background-color:white;
    height:14000px;
    width:500px;
    float: left;
    margin-top: 0px;
    margin-bottom: 40px;
    line-height:40px;
   

  
   
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;

  
  }


  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
nav {
background-color: black;
}

nav ul {
padding: 0;
margin: 0;
list-style: none;
position: relative;
}

nav ul li {
display:inline-block;
background-color: black;
}

nav a {
display:block;
padding:0 40px;	
color:#FFF;
font-size:20px;
line-height: 100px;
text-decoration:none;
}

nav a:hover { 
background-color: rgba(0, 0, 0, 0.4);
color: #fff;
}

/* Fisrt level Dropdown */
nav ul ul li {
width:500px;
float:none;
display:list-item;
position: relative;
}

/* Second, Third and more levels	*/
nav ul ul ul li {
position: relative;
top:-60px; 
left:170px;
}
/* Hide Dropdowns by Default */
nav ul ul {
display: none;
position: absolute; 
top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
display:inherit;
}
</style>
<body>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            <!-- Ad Here -->
            
        </div>
        <div class="col-rt-2">
         
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
           
      
            </div>
        </div>
    </div>
</header>

		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            <!-- Ad Here -->
            
        </div>
        <div class="col-rt-2">
            
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
         
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
     <div id="container">
 
      <nav>
        <ul>
           
            <li><a href="#">   ORTHOPAEDICS</a>
            <!-- First Tier Drop Down -->
            <ul>
              <li><a href="http://127.0.0.1:8000/princ">PRINCIPLES OF ORTHOPAEDICS</a></li>
              <li><a href="http://127.0.0.1:8000/boneandjoints">BONES AND JOINTS</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/upp">UPPER LIMB</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/low">LOWER LIMB</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/spin">SPINE AND VERTEBRA</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/age">PAEDIATRIC AGE GROUP</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/bonecysts">BONE CYSTS AND TUMOURS</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/mis/">MISCELLANEOUS</a></li>
            </ul>        
            </li>
         
    </nav>
  
    
      <div class="sidenav">
    
        <a class="sidenav-link dropdown-toggle" href="#" id="sidenavDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        UPPER LIMB
    </a></style>

<ul >
<li><a class="dropdown-item" href="http://127.0.0.1:8000/volk"> Volkmann's ischaemic Contracture</a></li>
<li><a class="dropdown-item" href="http://127.0.0.1:8000/colles">Colles fracture </a></li>
<li><a class="dropdown-item" href="http://127.0.0.1:8000/monteggia">Monteggia 
fracture-dislocation </a></li>
<li><a class="dropdown-item" href="http://127.0.0.1:8000/recurrent">Recurrent dislocation of shoulder</a>
  <li><a class="dropdown-item" href="http://127.0.0.1:8000/supre"> Supra 
    condylar fracture of Humerus</a></li>
    <li><a class="dropdown-item" href="http://127.0.0.1:8000/fracture">Fracture clavicle</a></li>
      <li><a class="dropdown-item" href="http://127.0.0.1:8000/Tennis">Tennis Elbow </a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:8000/Dupuytren">Dupuytren’s 
          contracture </a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:8000/mallet">Mallet finger</a></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/Trigger">Trigger 
              finger</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/ole"> Fracture olecranon </a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/carpel">Carpal tunnel 
                  syndrome</a></li>
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/frozen"> Frozen 
                    shoulder</a></li>
                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/de">De Quervan’s 
                      disease </a></li>  
    
                              </ul>

    
  


                            </div>


                          </body>
                          </html>
  


<style type="text/css">
  p{
  
    text-align:justify;
  line-height:40px;
    font-size: 20px;
    font-family: TimesNewRoman;
    
   
  }
  
  h3{
    
      color:black;
      text-align: left; 
      font-size: 30px;
      font-family: TimesNewRoman;
     
     
    }
  h2{
      color:black;
      text-align: center; 
      font-size: 40px;
      background-color: white;
      font-family: TimesNewRoman;
  }
</style>

</style>
<body>
  <h2>Supracondylar fracture of humerus</h2>
  <div="img">
        
        
   <center><img src="https://tse2.mm.bing.net/th?id=OIP.aR4uWwnv8ghkhp5Zmrk8mgHaHa&pid=Api&P=0&h=180" width="300" height="300"></center>
</div>
<p> This is one of the most serious fractures in childhood as it is often associated with 
  complications.</p>
<h3>Mechanism: </h3> 
  <p> Fall on outstretched hand  </p>
    <p> As the hand strikes the ground, the elbow is forced into hyperextension
resulting in fracture of the humerus above the condyles  </p>
<p> The fracture line extends transversely through the distal metaphysis of 
humerus just above the condyles.  </p>

<h3>Types: </h3>
 <p> Depending upon the displacement of the distal fragment, supracondylar fracture 
  may be of 2 types: 
  A. Extension type (80%): The distal fragment is extended (tilted backwards) in 
  relation to the proximal fragment. 
  B. Flexion type (20%): The distal fragment is flexed (tilted forwards) in relation 
  to the proximal fragment. </p>
  <p>
  Diagnosis: </p>
  <p>Chief complaint :</p>
  <p>The child is brought to the hospital with a history of fall on outstretched hand 
  followed by pain, swelling, deformity and inability to move the affected elbow. </p>
  <p>Examination </p>
  <p>Early presentation</p>
  <p> Unusual posterior prominence of 
  tip of olecranon (because of dorsal 
  tilt) may be present </p>
  <p> Since the fracture is supracondylar, the 3 bony point 
  relationship is maintained, as in a 
  normal elbow.</p>
  <p>Late presentation</p> 
  <p>  Gross swelling makes the diagnosis difficult 
    <p> Signs of ischemia may be present (5P: Pain, 
  pallor, paresthesia, paralysis, pulselessness) </p>
  <p>  Radial and ulnar pulses may be absent </p>
    <p> Look for median nerve injury (pointing-index) </p>
      <p>  Look for radial nerve injury (wrist-drop). </p>
  <p>Classification of supracondylar fracture: </p>
  <p>
  Type 1: Undisplaced </p>
  
  <p>Type 2:Angulated fracture with posterior cortex still in continuity  </p>
    <p>Type 2a: Distal fragment merely angulated  </p>
      <p>Type 2b: Distal fragment is angulated and malrotated  </p>
        <p>Type 3: A completely displaced fracture  </p>
  <p>Treatment of choice according to classification </p>
<p>
  Type 1: Immobilization in plaster slabs for 3 weeks, with elbow in maximal flexion 
  and forearm in pronation that does not jeopardize the radial pulse. 
  Extent of plaster is from deltoid muscle insertion to proximal palmar 
  crease just short of the knuckles, excluding the thumb. </p>
  <p> Type 2a :Reduction under general anesthesia by the following step wise maneuver: 
  1. Traction and counter traction above the elbow 
  2. Reduction by pressure over olecranon, while maintaining traction 
  3. Gradual elbow flexion and forearm pronation, while checking radial 
  pulse and capillary return. </p>
  <p> Type 2b & 3 :The fracture should be reduced under general anesthesia as soon as 
  possible, by the method described above, and then held with 
  percutaneous crossed smooth K-wires. 
  Other options for severe fractures: 
  1. Open reduction 
  2. Continuous traction (Ex: Dunlop traction). </p>
  
  <h3>Immediate complications </h3>
 <p> Vascular injury </p>
 <p>  Commonly injured artery: Brachial artery </p>

 
  <p>  Mechanism of injury: </p>
    <p> The brachial artery is usually injured by the sharp edge of the proximal 
  fragment. </p>
  <p>  Complications: </p>
    <p>  Forearm edema and compartment syndrome </p>
      <p>  Absent pulse </p>
        <p>  Volkmann's ischemia (ischemic damage to flexors of forearm) </p>
          <p>  Peripheral gangrene. </p>
            <p>  Definite management options: </p>
              <p>  Extension of elbow and removal of all dressings </p>
                <p>   Repair/ grafting of vessel + fasciotomy </p>
                  <p>  Operative exploration in extreme cases. </p>
                    <p> Nerve injury </p>
                      <p>  Commonly injured nerves: </p>
                        <p>  Radial nerve </p>
                          <p>  Median nerve</p> 
                            <p>  Ulnar nerve. </p>
                              <p>  Management: </p>
                                <p>  Loss of function is usually temporary and recovery is expected within
  3-4 months. </p>
  <p>  If there is no recovery then the nerve should be explored. 
  </p>
  <h3>Early complications </h3>
 <p> Volkmann’s ischemia</p>
 <p>   Introduction: </p>
  <p>This is an ischemic injury to the muscles and nerves of the flexor 
  compartment of the forearm caused by occlusion of brachial artery by a 
  complicated supracondylar fracture of humerus. 
  <p>  Commonly affected muscles: </p>
  <p>The muscles supplied by the anterior interosseous artery are most 
  susceptible to ischemic damage because this artery is an end-artery. Most 
  commonly affected muscles are the flexor pollicis longus and flexor 
  digitorum profundus (medial-half). </p>
  <p>  Clinical features: </p>
    <p>  Early diagŶosis of Volkmann’s ischeŵia is of eǆtreŵe iŵportance.</p>
      <p>  Severe pain in the forearm </p>
        <p>  Stretch pain: Pain in the flexor aspect of forearm when fingers are 
  extended passively </p>
  <p>  Inability to move fingers fully </p>
    <p>  Tenderness on pressing forearm muscles. </p>
      <p>  Treatment: </p>
        <p>  Volkmann’s ischemia is an emergency of highest order:</p>
          <p>   Remove any splints or bandages </p>
            <p>   Elevate the forearm </p>
              <p>  Encourage to move the fingers </p>
                <p>  If no improvement within 2 hours: Perform fasciotomy operation. </p>
  <h3>Late complications </h3>
  <p> Malunion </p>
    <p>   This is the commonest complication of a supracondylar fracture. </p>
      <p>   Cause: 
        <p>   Failure to achieve good reduction </p>
          <p>   Displacement of the fracture fragment within plaster. </p>
            <p>   Type of deformity: Cubitus varus. </p>
  
              <p>   Treatment: Supracondylar corrective osteotomy (French osteotomy).</p>
                <p>  Myositis ossificans </p>
                  <p>   introduction: </p>
                    <p>  It is characterized by ectopic new bone formation around the elbow joint, 
  resulting in stiffness. </p>
  <p>   Cause: Massage following the injury. </p>
    <p>  Treatment: </p>
      <p>  Early stages: </p>
        <p>  Elbow is put to rest by an above-elbow slab </p>
          <p>  Gentle elbow mobilization is started. </p>
            <p>  Late stages: </p>
              <p> Treatment options are: </p>
                <p>  Excision of the myositic bone </p>
                  <p>  Excision arthroplasty of elbow. </p>
  <h3>Volkmann’s ischemic contracture</h3>
  <p>   Introduction: </p>
  <p>This is a sequel to Volkmann's ischemia. The ischemic muscles are gradually 
  replaced by fibrous tissue, which contracts and draws the wrist and fingers 
  into flexion. 
  If the peripheral nerves are also affected, there will be sensory loss and 
  motor paralysis in the forearm and hand. </p>
  <p>  Clinical features: (4Ps)</p> 
    <p>  Pain: Pain in the flexor aspect of forearm when fingers are extended 
  passively. It is called ͚stretching pain’. </p>
  <p>   Pallor: Earliest feature.</p> 
    <p>  Paresthesia: Late feature. </p>
  
      <p>   Pulselessness: It is not a constant feature of VIC. </p>
        <p> Volkmann’s sign:</p>
          <p>   When wrist is flexed, MCP and IP joints can be extended. </p>
            
            <p>   When wrist is extended, MCP and IP joints become more flexed. </p>
            

</body>
{% endblock %}